body {
  background: url('../images/gifts.jpeg');
  background-size: 100%;
}

.logo-img {
  margin: 8px 4px 0 10px;
  height: 48px;
}

.loginform {
  background: rgba(255,255,255,0.8);
  border-radius: 25px;
}

.container {
  padding-top: 30px;
}