<div class="loginform">

<%= @message %>
<form action="/login" method="post">
<input type="email" name="email" id="email">
<label for="email">Email</label>
<input type="password" name="password" id="password">
<label for password>Password</label>
<button type="submit">Submit</button>
</form>
</div>