    <div class="row form-line">
      <div class="input-field col s5 offset-s1">
        <input id="invited_name" name="invited_name[]" type="text" class="validate">
        <label for="invited_name">Name</label>
      </div>
      <div class="input-field col s5">
        <input id="invited_email" name="invited_email[]" type="email" class="validate">
        <label for="invited_email">Email</label>
      </div>
    </div>
    <div class="row button-row">
      <div class="input-field col s12 center-align">
        <button type="submit" class="waves-effect waves-light btn">Save</button>
        <a class="btn-floating btn-large waves-effect waves-light add-line"><i class="material-icons">add</i></a>
      </div>
    </div>
