<div class="fixed-action-btn">
    <a class="btn-floating btn-large red tooltipped" href="/events/<%= @event.id %>"
    data-position="left" data-delay="50" data-tooltip="Back">
      <i class="large material-icons">arrow_back</i>
    </a>
</div>

<main class="loginform container">   
  <div class="row">
    <div class="col s6"><h4>Send Invitations for Event</h4></div>
  </div>   
  <form class="col s12" action="/events/<%=@event.id%>/invite" method="POST">
    <%= erb :'invitations/_form', locals: {event: @event} %>
  </form>
</main>


