<main class="section">
  <div class="row valign">
    <div class="help col s10 offset-s1">
      <div class="col s12 center-align"><h4>Rudolph</h4></div>
      <div class="col s12 center-align"><h6>'the manual'</h6></div>
      <div class="col s12 center-align">
        <ul class="collapsible popout center-align" data-collapsible="accordion" >
          <li>
            <div class="collapsible-header">Sign up!</div>
            <div class="collapsible-body"><p>If you are not signed up yet, this website only provides limited functionality, to take advantage of all functions please head back to main page to sign up!</p></div>
          </li>
          <li>
            <div class="collapsible-header">Create your own gift exchange!</div>
            <div class="collapsible-body"><p>Once you have signed up, you can start own event or join any available public event in your vicinity.</p></div>
          </li>
          <li>
            <div class="collapsible-header">Join public events!</div>
            <div class="collapsible-body"><p>public events are sorted so that you only have access to the ones close by</p></div>
          </li>
          <li>
            <div class="collapsible-header">Invite friends!</div>
            <div class="collapsible-body"><p>all you need is name and email! once they visit this page all credential will be available to aid painfree sign up.</p></div>
          </li>
          <li>
            <div class="collapsible-header">Please do anticipate!</div>
            <div class="collapsible-body"><p>drool worthy present is on the way!</p></div>
          </li>
          <li>
            <div class="collapsible-header">Contact us</div>
            <div class="collapsible-body"><p>If there are further things you would like to talk about, please use the Contact button on Navbar to reach us!</p></div>
          </li>
          <li>
            <div class="collapsible-header">HELP!</div>
            <div class="collapsible-body"><p>Please refer to this page for all your problems!</p></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
